section {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    // margin-top: 38px;
  }

  .displayStartVert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    #titleDetail {
      width: 40%;
    }
  }

  .displayStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .heart {
    margin-top: 10px;
  }

  .star {
    display: inline;
    width: 50px;
  }

  .press {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    text-align: center;

    p {
      margin-top: 5px;
      margin-left: 20px;
      font-weight: bold;
    }
  }

  img {
    width: 30%;
    height: 500px;
  }

  iframe {
    width: 65%;
    height: 500px;
  }

  li {
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .category {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 122px;
    height: 43px;
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .synopsis {
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  #synopsis {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  section {
    img {
      width: 60%;
    }
    iframe {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 640px) {
  section {
    img {
      width: 80%;
    } 
  }
}

@media (max-width: 480px) {
  section {
    .press {
      display: none;
    }
  }
}
