#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  article {
    width: 30%;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
  }

  img {
    border-radius: 20px;
    width: 100%;
  }

  h2 {
    width: 100%;
    background-color: #a81e1e;
    padding: 5px 0;
    position: absolute;
    top: 0%;
    border-radius: 20px 20px 0 0;
  }
}

.allmovies {
  text-align: center;
}

@media (max-width: 1380px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 960px) {
   #movies{
      article {
        width: 45%;
      }
  }
}

@media (max-width: 700px) {
   #movies{
      article {
        width: 80%;
      }
  }
}

