{% extends 'layouts/public.twig' %}
{% block title %}Recherche{% endblock %}
{% block content %}
<h1 class="wrapper">Liste des films</h1>
<div class="wrapper" id="movies">
    {% for searchMovie in searchMovies %}
    <article>
        <a href="{{ getUrl('details', { slug: searchMovie.slug }) }}">
            <img src="{{ searchMovie.poster }}" alt="{{ searchMovie.title }}" />
            <h2>{{ searchMovie.title }}</h2>
        </a>
    </article>
    {% endfor %}
</div>
{% endblock %}